@font-face {
  font-family: "CustomFont";
  src: url("../../../assets/font/SangBleuKingdom-Regular.woff") format("woff");
}

body {
  font-family: "CustomFont", sans-serif;
  color: black;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.name:hover {
  color: #007bff;
}
