@font-face {
  font-family: "CustomFont";
  src: url("../../../assets/font/SangBleuKingdom-Regular.woff") format("woff");
}

body {
  font-family: "CustomFont", sans-serif;
}

.pub {
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .pub {
    font-size: 25px;
  }
}
.pub-title {
  color: rgba(255, 0, 0, 0.795);
}
.pub-content {
  color: #4776e6;
}
