@media screen and (max-width: 1200px) {
  /* #main-header-title {
    font-size: 35px;
  } */
}

#main-header-title {
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* this font is used here and in navigation bar only  */
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: max-content;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  transition: opacity 0.3s ease; /* Added transition effect */
  opacity: 0; /* Initially set opacity to 0 */
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1; /* Set opacity to 1 on hover */
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  color: #333;
}

.dropdown-menu a:hover {
  color: #007bff;
  text-decoration: underline;
  padding-left: 8px;
}

.about-text {
  color: black;
}

@media screen and (min-width: 600px) {
  .about-text {
    color: whitesmoke;
  }
}

/* Research css  */

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.research-card {
  transition: transform 0.3s ease;
}

.research-card:hover {
  transform: scale(1.1);
}

.card-text {
  font-size: 1.1rem;
}
